<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students Information</title>
</head>
<body>
    <h1>Students Information:</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
                <th>Test Score</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td><a href="/student/{{ student.pk }}/">{{ student.id }}</a></td>
                <td>{{ student.firstname }}</td>
                <td>{{ student.lastname }}</td>
                <td>{{ student.age }}</td>
                <td>{{ student.testscore }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <br><br>
    <a href="/student/create_type1/">Create New Student (Type 1) - using Manual Form Handling</a> <br><br>
    <a href="/student/create_type2/">Create New Student (Type 2) - using Django Forms</a>
</body>
</html>